[submodule "vicious"]
	path = .config/awesome/vicious
	url = http://git.sysphere.org/vicious

[submodule ".config/nvim/bundle/Vundle.vim"]
	path = .config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
